* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.Self_container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.main {
    display: flex;
    flex: 1;
    overflow: hidden;
}

h4 {
    display: inline-block;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-weight: bold;
    unicode-bidi: isolate;
}

#header {
    height: 8%;
    min-height: 100px;
    padding: 10px;
    border: 1px solid rgb(187, 187, 187);
}

#container {

}

.left, .right {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.left .top, .left .bottom,
.right .top, .right .bottom {
    flex: 1;
}

.left .top {
    flex: 2; /* 20% 高度 */
}


.left .bottom {
    background-color: #cddc39; /* 左侧下部背景色 */
    flex: 8; /* 80% 高度 */
}

.right .top {
    background-color: #03a9f4; /* 右侧上部背景色 */
    flex: 6; /* 60% 高度 */
}

.right .bottom {
    background-color: #0288d1; /* 右侧下部背景色 */
    flex: 4; /* 40% 高度 */
}

#title {
    border-bottom: 1px solid black;
}

#title h1 {
    float: left;
    margin: 3px 0;
}

#sub-title {
    float: left;
    margin-top: 10px;
    margin-left: 30px;
}

#logo {
    float: right;
}

#search {
    float: right;
    margin-top: 12px;
}

#search input {
    margin-right: 15px;
    width: 250px;
    font-size: 14pt;
}

#selector {
    margin-top: 10px;
}

#selector .local-label {
    display: inline-block;
    font-size: 12pt;
    float: left;
    margin-top: 8px;
    margin-right: 10px;
}

#selector .selector {
    border-radius: 7px;
    float: left;
    color: white;
    margin: 2px 0px;
    margin-right: 8px;
    min-width: 32px;
    min-height: 32px;
    border: 2px solid white;
    box-shadow: 1px 1px 5px #AAAAAA;
}

#selector0 {
    background-color: #1a8e6a;
}

#selector1 {
    background-color: #f9ba02;
}

#selector2 {
    background-color: #6762a2;
}

#selector3 {
    background-color: #eb298d;
}

#selector4 {
    background-color: #7cc522;
}

#selector5 {
    background-color: #ec6502;
}

#selector_button {
    margin-top: 8px;
    float: left;
    display: inline-block;
}

#search_button {
    margin-top: 6px;
    float: right;
    display: inline-block;
}

.Ctrl {
    float: right;
    display: block;
}

.Add {
    float: right;
    display: block;
    margin-left: 5px;
}

.Reduce {
    float: right;
    display: block;
    margin-left: 5px;
}

.Min {
    float: right;
    display: block;
    margin-left: 5px;
}

#row {
    height: 100%;
}

#result {
    float: right;
    flex: 6;
    width: 100%;
    border: 1px solid rgb(187, 187, 187);
    overflow: hidden;
}

#result_title {
    height: 30px;
    width: 100%;
}

#result_content {
    height: 100%;
    width: 100%;
    overflow: auto;
    border-top: 1px solid rgb(187, 187, 187);
}

.publication {
    display: inline-block;
    margin-top: 5px;
    margin-right: 20px;
    margin-left: 10px;
    font-weight: bold;
}

#control {
    float: left;
    overflow: auto;
    height: 100%;
    width: 100%;
    border: 1px solid rgb(187, 187, 187);
}

.panel-local:hover {
    background-color: #d5d5d5;
}

.panel-local {

}

.panel-font {
    font-size: 14px;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.keyword-tag {
    font-size: 10pt;
    font-weight: bold;
    vertical-align: middle;
}

.publication-card {
    margin-bottom: 5px;
    background-color: #EEEEEE;
    counter-increment: problem;
    border: 1px solid black;
    border-left: 5px solid black;
    padding: 10px;
    padding-bottom: 0px;
    overflow: auto;
}

.publication-card .entry_img {
    width: 100px;
    float: left;
    margin-right: 10px;
    text-align: center;
    margin-bottom: 10px;
}

.publication-card .thumb {
    border: 1px solid silver;
    max-width: 100px;
}

.entry_main {
    overflow: auto;
}

.publication-card .links {
    font-size: 8pt;
    float: right;
}

.publication-card .links a:before {
    content: "|";
    margin-right: 5px;
    margin-left: 5px;
}

.publication-card .vis {
    display: inline-block;
    position: relative;
    padding: 5px;
}

.publication-card .id {
    font-size: 10pt;
    padding: 0;
    margin: 0;
    margin-right: 25px;
    display: inline-block;
}

/*！！！！注意，这里需要修改！！！！*/
/*.publication-card .id:before {*/
/*    content: "1. ";*/
/*    color: rgb(128, 128, 128);*/
/*}*/

.publication-card .series, .publication-card .year {
    font-size: 10pt;
    padding: 0;
    margin: 0;
    margin-left: 5px;
    color: #999999;
    display: inline-block;
    cursor: hand;
}

.publication-card .title {
    font-weight: bold;
    display: block;
}

a {
    color: #223388;
    text-decoration: none;
}

.publication-card .authors {
    font-size: 11pt;
    overflow: auto;
    cursor: pointer;
}

.publication-card .author {
    font-size: 11pt;
    display: inline-block;
    margin-right: 10px;
}

.publication-card .author .first_name {
    font-size: 8pt;
}

.publication-card .abstract {
    font-size: 11pt;
    font-style: italic;
    margin: 5px 10px;
    position: relative;
    cursor: pointer;
}

.publication-card .label {
    font-weight: bold;
    color: black;
}

.publication-card .abstract:hover {
    color: #818181;
}

.publication-card .expand {
    margin: 0 2px;
    font-size: 16pt;
    position: absolute;
    font-style: normal;
    bottom: -4px;
}

.publication-card .text-collapse {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
}

.publication-card .tags {
    font-size: 11pt;
}

.publication-card .tags .tag {
    color: #000000;
}

.publication-card .tags .tag_category {
    font-size: 8pt;
    font-weight: bold;
}

.publication-card .select_similar {
    float: left;
}

.publication-card .button {
    margin: 0;
    margin-right: 10px;
    border: none;
    border-radius: 0;
}

.tag {
    color: #888888;
    display: inline-block;
    padding: 0;
    padding-right: 12px;
    margin: 1px;
    cursor: pointer;
}

.publication-card .tags .tag:hover {
    background: #DDDDDD;
}

#timeline {
    overflow: auto;
}

#control .label {
    color: black;
    font-size: 10pt;
    font-weight: bold;
    vertical-align: middle;
}

#timeline .label {
    display: block;
    float: left;
    padding: 0;
}

svg:not(:root) {
    overflow: hidden;
}

.chart rect.bar {
    cursor: pointer;
}

.chart rect.citation {
    cursor: pointer;
}

#timeline {
    overflow: auto;
}

#timeline .label {
    float: left;
}

#citation_colors {
    float: left;
    margin: 0 10px;

}

#citation_colors div {
    display: inline-block;
}

#citation_colors .label {
    display: inline-block;
    font-weight: normal;
    position: relative;
    top: -3px;
    margin: 0 3px;
    float: none;
    font-size: 8pt;
}

#citation_colors .color_scale {
    width: 100px;
    height: 12px;
    border: 1px solid black;
    /*background: -webkit-linear-gradient(left, white, black); !* For Safari 5.1 to 6.0 *!*/
    /*background: -o-linear-gradient(right, white, black); !* For Opera 11.1 to 12.0 *!*/
    /*background: -moz-linear-gradient(right, white, black); !* For Firefox 3.6 to 15 *!*/
    background: linear-gradient(to right, white, black); /* Standard syntax */
}

#control .cit_occurrence {
    font-size: 9pt;
    float: right;
    position: relative;
    top: -2px;
}

.freq10 {
    font-size: 13pt;
}

.freq5 {
    font-size: 12pt;
}

.freq3 {
    font-size: 11pt;
}

.freq2 {
    font-size: 10pt;
}

.freq1 {
    font-size: 9pt;
}

#authors .tag {
    color: black;
}

#authors .tag:hover {
    background: #DDDDDD;
}

#keywords .tag:hover {
    background: #DDDDDD;
}

.tag_frequency {
    font-size: 8pt;
    position: relative;
    top: 2px;
    left: 1px;
}

.vis {
    display: inline-block;
    position: relative;
    padding: 5px;
}

.text {
    display: inline-block;
    background: white;
    opacity: 0.8;
    color: black;
    margin: 4px;
    height: 20px;
}

.selector .glyphicon:hover {
    color: silver;
}

.dashed-line {
    stroke-dasharray: 4; /* 定义虚线的间隔 */
}

.circle {
}

.circle:hover {
    stroke-width: 8px;
}

.tooltip {
    position: absolute;
    text-align: center;
    width: auto;
    padding: 8px;
    font: 16px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: black;
}
