<!DOCTYPE html>
{% load static %}
{% load my_filter %}
<html lang="en">
<head>
    <meta charset="UTF-8" content="no-cache">
    <title>Index</title>
    <link rel="stylesheet" href="{% static 'css/for_index.css' %}">
    <link rel="stylesheet" href="{% static 'css/for_chart.css' %}">
    <link rel="stylesheet" href="{% static 'css/for_graph.css' %}">
    <style>
    </style>
</head>
<body>
<script src="{% static 'js/jquery-3.7.1.js' %}"></script>
<script src="{% static 'plugins/d3/d3.v7.js' %}"></script>


<div class="Self_container">
    <div class="header">
        <div id="title" class="clearfix">
            <h1>LLM for Publication Data</h1>
        </div>

        <div id="selector" class="clearfix">
            <div class="local-label">Selectors</div>
            <div class="selector" id="selector0" value=" "></div>
            <div class="selector" id="selector1" value=" "></div>
            <div class="selector" id="selector2" value=" "></div>
            <div class="selector" id="selector3" value=" "></div>
            <div class="selector" id="selector4" value=" "></div>
            <div class="selector" id="selector5" value=" "></div>
            <div class="button" id="selector_button" onclick="clearSelector()">clear</div>

            <div class="dropdown-container">
                <span id="min_citation" class="local-label">Min_citation:</span>
                <button id="dropdownButton" class="dropdown-button">20</button>
                <div id="dropdownMenu" class="dropdown-menu">
                    <a href="#" onclick="selectOption(0)" class="">0</a>
                    <a href="#" onclick="selectOption(20)" class="">20</a>
                    <a href="#" onclick="selectOption(40)" class="">40</a>
                    <a href="#" onclick="selectOption(60)" class="">60</a>
                    <a href="#" onclick="selectOption(80)" class="">80</a>
                    <a href="#" onclick="selectOption(100)" class="">100</a>
                    <script>
                        let min_citation = 20;
                        const dropdownButton = document.getElementById('dropdownButton');
                        const dropdownMenu = document.getElementById('dropdownMenu');

                        dropdownButton.addEventListener('click', toggleDropdown);

                        function toggleDropdown() {
                            dropdownMenu.classList.toggle('show');
                        }

                        function selectOption(option) {
                            min_citation = option;
                            filterNode(entity_data);
                            LoadDepartmentData_with_min()
                            dropdownButton.textContent = option;
                            dropdownMenu.classList.remove('show');
                        }

                        function disableComponent() {
                            dropdownButton.classList.add('disabled');
                            dropdownButton.disabled = true;

                            const links = dropdownMenu.querySelectorAll('a');
                            links.forEach(link => {
                                link.classList.add('disabled');
                            });

                            // Remove event listeners to prevent interaction
                            dropdownButton.removeEventListener('click', toggleDropdown);
                        }

                        function enableComponent() {
                            dropdownButton.classList.remove('disabled');
                            dropdownButton.disabled = false;

                            const links = dropdownMenu.querySelectorAll('a');
                            links.forEach(link => {
                                link.classList.remove('disabled');
                            });

                            // Re-add event listeners
                            dropdownButton.addEventListener('click', toggleDropdown);
                        }

                        // Close dropdown if clicked outside
                        window.addEventListener('click', (event) => {
                            if (!dropdownButton.contains(event.target) && !dropdownMenu.contains(event.target)) {
                                dropdownMenu.classList.remove('show');
                            }
                        });
                    </script>
                </div>
            </div>
        </div>


    </div>
    <div class="main">
        <div class="left">
            <div class="top">
                <div class="title-box">Chart
                    {#                    <div class="btn-group">#}
                    {#                        <button id="yearButton" onclick="update(year_data, 'year')">Year</button>#}
                    {#                        <button id="authorButton" onclick="update(author_data, 'author')">Author</button>#}
                    {#                        <button id="departmentButton" onclick="update(department_data, 'department')">department#}
                    {#                        </button>#}
                    {#                    </div>#}
                </div>
                <div class="content-box hidden" id="chart">
                    <script>
                        let Init_width, Init_height, margin, width_chart, height_chart,
                            svg_chart, g_chart,
                            x0Name, x1Name,
                            x0, x1, y, z,
                            initialData, newData,
                            bars;
                    </script>
                </div>

            </div>
            <div class="bottom">
                <div class="title-box">Knowledge Graph
                    <div class="dropdown-container">
                        <!-- 创建一个按钮组，包含刷新按钮 -->
                        <button class="refresh-btn" onclick="removeGraphNode()">
                            <!-- 嵌入SVG图标 -->
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="18" height="18"
                                 fill="currentColor">
                                <path d="M12 4V1L8 5l4 4V6c3.3 0 6 2.7 6 6 0 3.3-2.7 6-6 6s-6-2.7-6-6H4c0 4.4 3.6 8 8 8s8-3.6 8-8-3.6-8-8-8z"/>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="content-box hidden" id="knowledgeGraph" style="height: calc(100% - 30px)">
                </div>
            </div>
        </div>
        <div class="right">
            <div class="top">
                <div class="title-box" id="publicationTitle">Publication</div>
                <div class="content-box auto" id="publication" style="height: calc(100% - 30px)">
                    {% for publication in publication_list %}
                        <div id="{{ publication.IdName }}" class="publication-card"
                             style="border-color: rgb(200, 200, 200)">
                            <div class="entry_img">
                                {% with final_path='img/'|add:publication.IdName|add:'.png' %}
                                    {% if final_path|file_exists %}
                                        <img class="thumb" src="{% static final_path %}" alt="">
                                    {% else %}
                                        <!-- 文件不存在时显示的内容 -->
                                        <img class="thumb" src="{% static 'img/default.png' %}" alt="">
                                    {% endif %}
                                {% endwith %}
                            </div>
                            <div class="entry_main">
                                <div class="links">
                                    <a href="{{ publication.Doi }}" target="_blank">DOI</a>
                                    <a href="http://scholar.google.de/scholar?hl=en&amp;q={{ publication.Name }}"
                                       target="_blank">Google Scholar</a>
                                    <a href="https://www.google.de/search?q={{ publication.Name }}"
                                       target="_blank">Google</a>
                                </div>
                                <div class="entry_header">
                                    <div class="vis  tooltipstered"></div>
                                    <div class="id">{{ publication.IdName }}</div>
                                    <div class="series">{{ publication.Sources }}</div>
                                    <div class="year">{{ publication.PublishedYears }}</div>
                                </div>
                                <a class="title" target="_blank" href="{{ publication.Doi }}">{{ publication.Name }}</a>
                                <div class="authors">
                                    {% for author in publication.Authors %}
                                        {% if author == None %}
                                        {% else %}
                                            <div class="author" value="{{ author }}">
                                                <span class="last_name">{{ author }}</span>

                                                <!--                                    <span class="last_name">{{ author|spilt_author_last }}</span>-->
                                                <!--                                    <span class="first_name">{{ author|spilt_author_first }}</span>-->
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <div class="abstract text-collapse"
                                     value="{{ publication.Abstracts }}"
                                     onclick="text_collapse(d3.select(this))">
                                    <span class="label">Abstract: </span>
                                    {{ publication.Abstracts }}
                                </div>
                                <div class="tags">
                                    <div class="tag">
                                        {{ publication.Keywords }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="bottom">
                <div class="title-box">Q&A</div>
                <div class="content-box hidden" id="qa" style="height: calc(100% - 30px)">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    // Function to fetch and execute scripts for a given URL and container ID
    function fetchAndExecute(url, containerId) {
        fetch(url)
            .then(response => response.text())
            .then(data => {
                document.getElementById(containerId).innerHTML = data;

                // Re-evaluate the scripts in the loaded content
                const container = document.getElementById(containerId);
                const scripts = container.querySelectorAll('script');
                scripts.forEach(script => {
                    const newScript = document.createElement('script');
                    if (script.src) {
                        newScript.src = script.src;
                    } else {
                        newScript.textContent = script.textContent;
                    }
                    document.body.appendChild(newScript);
                });
            })
            .catch(error => console.error('Error fetching data:', error));
    }

    // Fetch and execute scripts for both chart and knowledgeGraph
    // setTimeout(fetchAndExecute, 100)
    fetchAndExecute('chart/', 'chart');
    fetchAndExecute('KG/', 'knowledgeGraph');
    fetchAndExecute('qa/', 'qa');
</script>

<script>

    const tooltip = d3.select("body").append("div")
        .attr("class", "tooltip")
        .style("opacity", 0);

    function text_collapse(obj) {
        if (obj.attr('class').includes('text-collapse') === true) {
            obj.attr('class', 'abstract')
        } else {
            obj.attr('class', 'abstract text-collapse')
        }
    }

    window.addEventListener('resize', function (event) {
        d3.select('#chart').selectAll('svg').remove()
        fetchAndExecute('chart/', 'chart');
    });

    // 查询 结果
    let query_list = []
    let query_author_list = []
    let query_year_list = []
    let query_dept_list = []
    let query_keyword_list = []
    let query_series_list = []
    let query_id_list = []
    let allId = []

    function QueryResults(check) {
        let data = {
            "author": query_author_list,
            "year": query_year_list,
            "keyword": query_keyword_list,
            "series": query_series_list,
            "dept":query_dept_list,
        }
        $.ajax({
            url: 'http://127.0.0.1:8000/query/result',
            type: 'POST',
            contentType: 'application/json', // 发送信息至服务器时内容编码类型
            data: JSON.stringify(data),
            success: function (res) {
                let request = JSON.parse(res)
                allId = request['all_IdName']
                console.log(request['result_IdName'])
                if (query_id_list.length !== 0) {
                    if (request['result_IdName'].length === 0) {
                        request['result_IdName'] = query_id_list
                    }
                    if (query_id_list.length > 1) {
                        request['result_IdName'] = []
                    }

                    // 获取两个列表中相同的元素
                    request['result_IdName'] = request['result_IdName'].filter(element => query_id_list.includes(element));
                }
                if (check === undefined) {
                    fixResults(request['all_IdName'], request['result_IdName'])
                } else if (request['result_IdName'].length === 0 && query_list.length === 0) {
                    clearSelector()
                } else {
                    for (let i of request['all_IdName']) {
                        d3.select('#' + i).style('display', 'block').style('border-color', 'rgb(200,200,200)')
                        fixResults(request['all_IdName'], request['result_IdName'])
                    }
                }

            },
        })
    }


    function fixResults(all, obj) {
        for (let each in all) {
            if (obj.includes(all[each])) {
                d3.select('#' + all[each]).style('border-color', 'black')
            } else {
                d3.select('#' + all[each]).style('display', 'none')
            }
        }

    }

    // {#  selector  #}
    let selectors = ['selector0', 'selector1', 'selector2', 'selector3', 'selector4', 'selector5']

    function clearSelector() {
        query_author_list = []
        query_year_list = []
        query_keyword_list = []
        query_list = []
        query_id_list = []
        query_dept_list = []
        for (let i in allId) {
            d3.select('#' + allId[i]).style('display', 'block').style('border-color', 'rgb(200,200,200)')
        }
        fixSelectors('clear')
    }

    function fixSelectors(obj) {
        if (obj === 'clear') {
            for (let j of selectors) {
                let clear = d3.select('#' + j).attr('value', " ").style("border", '2px solid white')
                clear.selectAll("*").remove()
            }
        } else {
            for (let j of selectors) {
                if (d3.select('#' + j).attr('value') === ' ') {
                    let temp = d3.select('#' + j).attr('value', obj).style("border", '2px solid black')
                    temp.append("div").attr('class', 'text').text(obj)
                    temp.append('span').attr('class', 'glyphicon cross-icon')
                        .style('padding', '4px').style('margin-right', '2px')
                        .on("click", function () {
                            let value = d3.select('#' + j).attr('value')
                            let clear = d3.select('#' + j).attr('value', ' ').style("border", '2px solid white')
                            clear.selectAll("*").remove()
                            query_list.splice(query_list.indexOf(value), 1)

                            if (query_author_list.indexOf(value) !== -1) {
                                query_author_list.splice(query_author_list.indexOf(value), 1)
                            }
                            if (query_keyword_list.indexOf(value) !== -1) {
                                query_keyword_list.splice(query_keyword_list.indexOf(value), 1)
                            }
                            if (query_year_list.indexOf(value) !== -1) {
                                query_year_list.splice(query_year_list.indexOf(value), 1)
                            }
                            if (query_series_list.indexOf(value) !== -1) {
                                query_series_list.splice(query_series_list.indexOf(value), 1)
                            }
                            if (query_id_list.indexOf(value) !== -1) {
                                query_id_list.splice(query_id_list.indexOf(value), 1)
                            }
                            if (query_dept_list.indexOf(value) !== -1) {
                                query_dept_list.splice(query_dept_list.indexOf(value), 1)
                            }
                            QueryResults(1)
                        })
                    break
                }
            }
        }
    }

</script>

</body>
</html>


