<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Word Cloud Example</title>
    <script src="../static/plugins/wordCloud/wordcloud2.js"></script>
    <script src="../static/js/jquery-3.7.1.js"></script>
    <script src="../static/plugins/d3/d3.v7.js"></script>
    <style>
        .content-box {
            width: 100%;
            height: 100%;
            border: 1px solid #ddd;
        }
    </style>
</head>
<body>

<div style="height: 200px;width: 584px">
    <div class="content-box" id="wordCloud_container"></div>
</div>


<script>
    const cloud_containerWidth = d3.select('#wordCloud_container').node().getBoundingClientRect().width;
    const cloud_containerHeight = d3.select('#wordCloud_container').node().getBoundingClientRect().height;
    d3.select('#wordCloud_container').append('div')
        .attr('id','wordCloud')
        .style('height', cloud_containerHeight+'px').style('width', cloud_containerWidth+'px')
    const wordArray = [
        ['JavaScript', 15],
        ['HTML', 10],
        ['CSS', 9],
        ['Web Development', 14],
        ['Programming', 12],
        ['Coding', 8],
        ['Frontend', 11],
        ['Backend', 7],
        ['Framework', 6],
        ['Library', 5]
    ];

    WordCloud(document.getElementById('wordCloud'), {
        list: wordArray,
        gridSize: 3,
        weightFactor: 3,
        fontFamily: 'Roboto, sans-serif',
        color: 'random-light',
        rotateRatio: 0.5,
        backgroundColor: '#f0f0f0'
    });
</script>
</body>
</html>